html {
  font-family: sans-serif;
  min-height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(#f3810e, #eac811) no-repeat;
  background-size: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
